<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5">
        <h4 class="card-title mb-0">Orders per month</h4>
        <div class="small text-muted">2015</div>
      </div><!--/.col-->
      <div class="col-sm-7 hidden-sm-down">
        <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
      </div><!--/.col-->
    </div><!--/.row-->
    <div *ngIf="mainChartData" class="chart-wrapper" style="height:300px;margin-top:40px;">
      <canvas baseChart class="chart"
              [datasets]="mainChartData"
              [labels]="mainChartLabels"
              [options]="mainChartOptions"
              [colors]="mainChartColours"
              [legend]="mainChartLegend"
              [chartType]="mainChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="card-footer">
    <ul *ngIf="orderAnalytics">
      <li>
        <div class="text-muted">Delivered</div>
        <strong>{{orderAnalytics.OrderDelivered}}</strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-success" role="progressbar" style="width: 40%" [attr.aria-valuenow]="orderAnalytics.OrderDelivered" aria-valuemin="0" [attr.aria-valuemax]="orderAnalytics.total"></div>
        </div>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Cancelled</div>
        <strong>{{orderAnalytics.OrderCancelled}}</strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-info" role="progressbar" style="width: 20%" [attr.aria-valuenow]="orderAnalytics.OrderCancelled" aria-valuemin="0" [attr.aria-valuemax]="orderAnalytics.total"></div>
        </div>
      </li>
      <li>
        <div class="text-muted">Processing</div>
        <strong>{{orderAnalytics.OrderProcessing}}</strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" [attr.aria-valuenow]="orderAnalytics.OrderProcessing" aria-valuemin="0" [attr.aria-valuemax]="orderAnalytics.total"></div>
        </div>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Problem</div>
        <strong>{{orderAnalytics.OrderProblem}}</strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" [attr.aria-valuenow]="orderAnalytics.OrderProblem" aria-valuemin="0" [attr.aria-valuemax]="orderAnalytics.total"></div>
        </div>
      </li>
      <li class="hidden-sm-down">
        <div class="text-muted">Returned</div>
        <strong>{{orderAnalytics.OrderReturned}}</strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar" role="progressbar" style="width: 40%" [attr.aria-valuenow]="orderAnalytics.OrderReturned" aria-valuemin="0" [attr.aria-valuemax]="orderAnalytics.total"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--/.card-->