<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Order Management
        </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ordres']"><i class="icon-present"></i> Orders</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/customers']"><i class="icon-people"></i> Customers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/products']"><i class="icon-basket"></i> Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/settings']"><i class="icon-settings"></i> Settings</a>
          </li>

      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="http://coreui.io">@theOMS</a> &copy; 2018 themost
  <span class="float-right">Powered by <a href="https://themost.io">@theMOST</a></span>
</footer>
