<div ng-controller="OrderController as ctrl">
    <h3 >Create new order</h3>
    <form name="form" ng-submit="ctrl.save()" novalidate>
        <div class="col-lg-8">
            <div class="form-group row">
                <label for="orderedItem">Select a product by typing product name or model:</label>
                <input autocomplete="off" id="orderedItem" name="orderedItem" type="text" ng-model="ctrl.item.orderedItem" placeholder="Search for a product"
                       uib-typeahead="product as product.name for product in ctrl.getProducts($viewValue)"
                       typeahead-loading="loadingLocations"
                       typeahead-no-results="noResults" class="form-control" ng-required="true">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
                <div ng-if="form.orderedItem.$dirty" ng-messages="form.orderedItem.$error" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="customer">Select a customer by typing product name or model:</label>
                <input autocomplete="off" id="customer" name="customer" type="text" ng-model="ctrl.item.customer"
                       placeholder="Search for a customer"
                       uib-typeahead="customer as customer.description for customer in ctrl.getCustomers($viewValue)"
                       typeahead-loading="loadingCustomers"
                       typeahead-no-results="noCustomerResults" class="form-control" ng-required="true">
                <i ng-show="loadingCustomers" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noCustomerResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
                <div ng-if="form.customer.$dirty" ng-messages="form.customer.$error" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                </div>
            </div>
            <most-data data-model="OrderStatus" data-name="ctrl.orderStatus.items"></most-data>
            <div class="form-group row">
                <label class="control-label" for="select">
                    Select order status
                </label>
                <select name="orderStatus" id="orderStatus" ng-required="true" class="select form-control"
                        ng-options="orderStatus as orderStatus.name for orderStatus in ctrl.orderStatus.items track by orderStatus.id" id="orderStatus" name="orderStatus" ng-model="ctrl.item.orderStatus">
                </select>
                <div ng-if="form.orderStatus.$dirty" ng-messages="form.orderStatus.$error" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                </div>
            </div>
            <most-data data-model="PaymentMethod" data-name="ctrl.paymentMethod.items"></most-data>
            <div class="form-group row">
                <label class="control-label" for="select">
                    Select payment method
                </label>
                <select name="paymentMethod" id="paymentMethod" ng-required="true" class="select form-control"
                        ng-options="paymentMethod as paymentMethod.name for paymentMethod in ctrl.paymentMethod.items track by paymentMethod.id" id="paymentMethod" name="paymentMethod" ng-model="ctrl.item.paymentMethod">
                </select>
                <div ng-if="form.paymentMethod.$dirty" ng-messages="form.paymentMethod.$error" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                </div>
            </div>
            <!-- Date range -->
            <div class="form-group row">
                <label for="paymentDue">Payment Due:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input required autocomplete="off" id="paymentDue" name="paymentDue"
                           type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="ctrl.item.paymentDue" />
                    <div ng-if="form.paymentDue.$dirty" ng-messages="form.paymentDue.$error" style="color:maroon" role="alert">
                        <div ng-message="required">You did not enter a field</div>
                    </div>
                </div><!-- /.input group -->
                <span class="help-block" id="hint_name">
                       Valid date format: dd/MM/yyyy
                      </span>
            </div><!-- /.form group -->
            <div class="form-group row">
                <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Apply</button>
            </div>
        </div>
        <div class="col-lg-4" >
            <div ng-if="ctrl.item.orderedItem.price">
                <h2 class="text-primary">Product</h2>
                <b>Name: {{ctrl.item.orderedItem.name}}</b><br>
                <b>Model: {{ctrl.item.orderedItem.model}}</b><br>
                <b>Category:</b> {{ctrl.item.orderedItem.category}}<br>
                <b>Released Date:</b> {{ ctrl.item.orderedItem.releaseDate | moment: "L" }}<br>
                <b>Price:</b> {{ctrl.item.orderedItem.price | currency : "€"}}<br>
            </div>
            <div ng-if="ctrl.item.customer.id">
                <h2 class="text-primary">Customer</h2>
                <address>
                    <strong>{{ctrl.item.customer.description}}</strong><br>
                    {{ctrl.item.customer.address.streetAddress}}<br>
                    {{ctrl.item.customer.address.addressLocality}} {{ctrl.item.customer.address.postalCode}},
                    {{ctrl.item.customer.address.addressCountry}}<br>
                    Phone: {{ctrl.item.customer.address.telephone}}<br>
                    Email: {{ctrl.item.customer.email}}
                </address>
            </div>
        </div>

    </form>
</div>