<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Latest Orders</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <most-data data-model="Order"
                       data-order="orderDate desc"
                       data-top="10"
                       data-name="orders"></most-data>
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Payment</th>
                </tr>
                </thead>
                <tbody ng-if="orders">
                <tr ng-repeat="order in orders">
                    <td><a ui-sref="invoice({id:order.id})">{{order.orderNumber}}</a></td>
                    <td>{{order.orderedItem.name}}</td>
                    <td><span class="label label-info">{{order.orderStatus.name}}</span></td>
                    <td>{{order.paymentMethod.name}}</td>
                </tr>

                </tbody>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <a ui-sref="order" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0);" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
    </div><!-- /.box-footer -->
</div><!-- /.box -->